BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
ColumnLimit: 110
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: true
AlignConsecutiveAssignments: true
AlignTrailingComments: true